<div>
    <br />
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2><label id="lblStatus" />No Data Found.</h2>
        <br />
        <button type="button" style="background-color: #d1d0f9; width: 200px;" onclick="location.href='@Url.Action("ServiceData","Home")'"><span>Back</span></button>
        <br />
    </div>
</div>